
<% if line_item == @current_item %>
<tr class="line-item-highlight">
<% else %>
<tr>
<% end %>
    <td ><%= button_to 'Del', line_item, method: :delete %></td>
    <td ><%= button_to '-', remove_product_pcs_line_items_path(id: line_item) %></td>
    <td ><%= button_to '+', add_product_pcs_line_items_path(id: line_item) %></td>
    <td><%= line_item.quantity %>&times;</td>
    <td><%= line_item.product.title %></td>
    <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
</tr>